<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  <%= restaurant.name %>
  <div class="tags">
    <% restaurant.tag_list.each do |tag| %>
      <span class="badge badge-pill badge-primary"><%= tag %></span>
    <% end %>
  </div>

  <div class="votes">
    <%= link_to "upvote (#{restaurant.get_upvotes.size})", upvote_restaurant_path(restaurant), class: 'btn btn-success', method: :post %>
    <%= link_to "downvote (#{restaurant.get_downvotes.size})", downvote_restaurant_path(restaurant), class: 'btn btn-danger', method: :post  %>
  </div>
</div>
